:root {
	--body-color: violet;
	
	--banner-bg-color:#280317;
	--banner-font-color:#f7a8c5;
	--banner-border-color:coral;
	--banner-padding: 0%;
	--banner-border-width: 3px;
	
	--header-bg-color:#230523;
	--header-font-color:#f7a8c5;
	--header-border-color:#82042c;
	--header-padding: 0%;
	--header-border-width: var(--banner-border-width);
		
	--sidebar-bg-color:#17020f;
	--sidebar-font-color:violet;
	--sidebar-border-color:coral;
	--sidebar-padding: 0%;
	--sidebar-border-width: var(--banner-border-width);
	
	--para-border-color:coral;
	--para-bg-color: rgba(140,15,109,0.7);
	--para-font-color: #ffbcff;
	--para-padding: 5px;
	--para-border-width: var(--banner-border-width);
	
	--spacer-width: 0px 10px 10px 0px;
	 
	 --sidebar-size: 320px;
	
	}
	
body {
/*	background-color: var(--body-color); */

/*	background: linear-gradient(315deg,#f0138c,rgba(0,0,0,0.8),rgba(31,150,64,0.9)); */


	}

  #back-rotate {
   position:fixed;
  top:0;
  left:0;
    
  width:100%;
  height:100%;
 
   animation-name:back-rotate;
   animation-duration:900ms;
   animation-iteration-count:infinite;
   }
   
   @keyframes back-rotate {
   0% {
   background:linear-gradient(337.5deg,orange,coral,#850415,coral,orange);
   }
   12.5% { 
   background:linear-gradient(292.5deg,orange,coral,purple,coral,orange);
   }
   25% {
   background:linear-gradient(247.5deg,orange,coral,#850415,coral,orange);
   }
   37.5% {
   background:linear-gradient(202.5deg,orange,coral,purple,coral,orange);
   }
   50% {
   background:linear-gradient(157.5deg,orange,coral,#850415,coral,orange);
   }
   62.5% {
   background:linear-gradient(112.5deg,orange,coral,purple,coral,orange);
   }
   75% {
   background:linear-gradient(67.5deg,orange,coral,#850415,coral,orange);
   }
   87.5% {
   background:linear-gradient(22.5deg,orange,coral,purple,coral,orange);
   }
   100% {
   background:linear-gradient(337.5deg,orange,coral,#850415,coral,orange);
   }
   }
   
  #color-rotate {
  position:fixed;
  top:0;
  left:0;
  
  animation-name:color-rotate;
  animation-duration:700ms;
  animation-iteration-count:infinite;
  
  width:100%;
  height:100%;
  
  opacity:0.75;
  }
  
  @keyframes color-rotate {
  0% {
  background: linear-gradient(0deg,#f0138c,rgba(0,0,0,0.5),rgba(31,255,121,0.9));
  }
  12.5% {
  background: linear-gradient(45deg,#f0138c,rgba(0,0,0,0.5)),rgba(31,255,121,0.9));
  }
  25% {
  background: linear-gradient(90deg,#f0138c,rgba(0,0,0,0.5)),rgba(31,255,121,0.9));
  }
  37.5% {
  background: linear-gradient(135deg,#f0138c,rgba(0,0,0,0.5)),rgba(31,255,121,0.9));
  }
  50% {
  background: linear-gradient(180deg,#f0138c,rgba(0,0,0,0.5)),rgba(31,255,121,0.9));
  }
  62.5% {
  background: linear-gradient(225deg,#f0138c,rgba(0,0,0,0.5)),rgba(31,255,121,0.9));
  }
  75% {
  background: linear-gradient(270deg,#f0138c,rgba(0,0,0,0.5)),rgba(31,255,121,0.9));
  }
  87.5% {
  background: linear-gradient(315deg,#f0138c,rgba(0,0,0,0.5)),rgba(31,255,121,0.9));
  }
  100% {
  background: linear-gradient(360deg,#f0138c,rgba(0,0,0,0.5)),rgba(31,255,121,0.9));
  }
  }
  #colorin {
  position:fixed;
  top:0;
  left:0;
  
  animation-name:color-fade-in;
  animation-duration:4s;
  animation-fill-mode:forwards;
  width:100%;
  height:100%
  	}
  @keyframes color-fade-in {
  0% {
  opacity:1;
  background-color:black;
  }
  40% {
  background-color:black;
  opacity:1;
  }
  65% {
  opacity:0.8;
  background: linear-gradient(315deg,rgba(31,255,121,0.9),rgba(0,0,0,0.8),#f0138c);
  }
  99% {
  opacity:0;
  background: linear-gradient(315deg,#f0138c,rgba(0,0,0,0.8),rgba(31,255,121,0.9));
  }
  }
	
  .sidenav {
  animation-name:content-delay;
  animation-duration:3s;
  height: 100%;
  width: var(--sidebar-size);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
/*  background-color: var(--sidebar-bg-color);*/
background: linear-gradient(45deg,#17020f,#1a0e05,#021c0d);
  overflow-x: hidden;
  padding: var(--sidebar-padding);
  font-size:32px;
  
}

.stamp-spacer {

animation-name:content-delay;
animation-duration:3s;

float: left;
width: 140;
border-color:rgba(0,0,0,0); /* var(--para-bg-color); */
border-width:var(--spacer-width);
border-style:solid;
}

/* deprecated
.border-fixer {
float: left;
width: 140;
border-color:var(--para-border-color); 
border-style: solid;
border-width: var(--para-border-width) 0px 0px var(--para-border-width);
} */

.poststamp {

  float: left;
 
font-size:16px;
border-style: solid;
border-color: var(--para-border-color);
color: var(--para-font-color);

background-color: rgba(0,0,0,0);
padding: 5px;
text-align:center;
}

.regpara {

animation-name:content-delay;
animation-duration:3s;

margin-left: var(--sizebar-size);
font-size: 26px;
border-style: solid;
border-color: var(--para-border-color);
color: var(--para-font-color);
/*background-color:var(--para-bg-color);*/
background: linear-gradient(12deg,rgba(32,151,23,0.5),rgba(5,9,3,0.7),rgba(130,10,130,0.3),rgba(5,9,3,0.4),rgba(192,75,60,0.6));

padding:var(--para-padding);
}

.smallpara {
font-size: 22px;
border-style: solid;
border-color: var(--para-border-color);
padding:var(--para-padding);
}

.main {

position:relative;
top:0;
  margin-left: var(--sidebar-size); /* Same as the width of the sidenav */
/*  font-size: 28px;  */ /* Increased text to enable scrolling */
  padding: 0px 10px 0px 10px;
  font-size: 28px;
 /* border-style:solid;
  border-color:var(--banner-border-color); */
}

#banner-main {  

animation-name: content-delay;
animation-duration: 3s;

/* position: relative;
  margin-left: var(--sidebar-size); */ /* Same as the width of the sidenav */
/*  font-size: 28px;  */ /* Increased text to enable scrolling */

  padding: 0px 10px 0px 10px;
  font-size: 28px;
 /* border-style:solid;
  border-color:var(--banner-border-color); */
}

@keyframes content-delay {
0% {
opacity:0;
}
90% {
opacity:0;
}
100% {
opacity:1;
}
}


#frame-image {

animation-name: img-delay;
animation-duration: 4s;

border-style:solid;
border-color:var(--banner-border-color);
border-radius:50%;
position: relative;
/*top:-100px;
left:42%;*/
text-align:center;
width:150px;
box-shadow: 0 0 15px 10px #99ffff;
}

@keyframes img-delay {
  0% {
  opacity:0;
  }
  45% {
  opacity:0;
  }
  100% {
  opacity:1;
  }
 }
 
#nova-anim {
  animation-name: nova;
  animation-duration: 2s;

position: relative;
top:-100px;
left:42%;

  width:150px;
 /* background-color:#ffffff; */
  border-radius:50%;
 /*  border-color: #ffffff; */
  }

@keyframes nova {
  0% {
opacity:0;
  box-shadow: 0 0 20px 100px #ffffff;
 /* border-color: #000000; */
 background:#ffffff;
  } 
  10% {
  opacity:0;
  }
  20% {
  opacity:1;
  background:#ffffff;
  box-shadow: 0 0 5000px 500px #ffffff;
 
  }
  25% {
  opacity:1;
  background:#ffffff;
  }
  85% {
  opacity:0.3;
  /*background:linear-gradient(180deg,black,orange);*/
   background:linear-gradient(315deg,#f0138c,rgba(31,255,121,1)); 
  }
  
  90% {
  box-shadow: 0 0 150px 100px #ffffff;
 
  }
  /*
  98% {
  width:1px;
  box-shadow: 0 0 250px 200px #99ffff;
  border-color: #000000;
  }*/
  99% {
  
  box-shadow: 0 0 15px 10px #ffffff;
 
  
  }
  100% {
    
    }
 }


/*
.frame-image:hover {
transform: scale(1.2);
}
*/

.rose {

animation-name:content-delay;
animation-duration:1.5s;

position: fixed;
top:10%;
left:42%;

opacity: 0.5;

width: 40%;
text-align:center;
}



h1 {
  line-height: 220%;
  font-size:96px;
  text-align:center;
  font-family:Parisienne,cursive,arial,helvetica;
  border-style: solid;
  border-color: var(--banner-border-color);
  background-color:var(--banner-bg-color);
  color:var(--banner-font-color);
  margin:5px 5px 5px 5px;
} /* set for deprecation */

.banner1 {
position: relative;

  line-height: 220%;
  font-size:96px;
  text-align:center;
  font-family:Parisienne,cursive,arial,helvetica;
  border-style: solid;
  border-color: var(--banner-border-color);
  background-color:var(--banner-bg-color);
  color:var(--banner-font-color);
  margin:5px 5px 5px 5px;
 /* top:-550px;*/
}

.banner2 {
  font-size:36px;
  font-family:Parisienne,cursive,arial,helvetica;
  border-style: solid;
  border-color: var(--header-border-color);
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  margin:2px;
 position: relative;
  top:160px;
  padding:5px;
  }
  
h2 {

  font-size:36px;
  font-family:Parisienne,cursive,arial,helvetica;
  border-style: solid;
  border-color: var(--header-border-color);
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  margin:2px;
  padding: 5px;
}

h3 {
  font-size: 18px;
  border-style: solid;
  border-color: coral;
  color:violet;
  background:linear-gradient(270deg,rgba(3,255,255,0.4),#000000);
}

p {
text-align:justify;
padding: var(--para-padding);
}

